
@{
    ViewData["Title"] = "ASP.NET Core 2.2 Web API";
}

<h3>@ViewData["Title"]</h3>

<p>Last updated: 03-01-2022</p>


<p>The ASP.NET Core 2.2 Web API is hosted at Azure App Service</p>

<p>The source code is at GitHub</p>

<p>DevOps by GitHub Actions and Azure App Service</p>



<p>The Angular 7 client is hosted at GitHub Pages</p>

<p>The source code is at GitHub</p>

<p>DevOps by GitHub Actions and GitHub Pages</p>


<link rel="shortcut icon" href="favicon.ico">
